@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Red Hat Text";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  @apply bg-rose-50;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  @apply mb-10 text-5xl font-bold;
}

h2 {
  @apply mb-2 text-2xl font-bold;
}

button {
  @apply cursor-default;
}

.btn-primary {
  @apply cursor-pointer bg-primary text-white rounded-full w-full p-4 hover:bg-[#952c0c];
}

.btn-remove svg {
  @apply p-1 border border-current rounded-full cursor-pointer text-rose-300 min-w-5 min-h-5 aspect-square hover:text-black;
}

.list {
  @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3;
}

.card {
  @apply flex flex-col;
}

.card-active .card-image {
  @apply outline outline-offset-0 outline-2 outline-primary;
}

.card-button,
.card-button-active {
  @apply flex items-center w-2/3 gap-2 px-4 py-2 mx-auto mb-4 -mt-5 text-sm rounded-full outline outline-offset-0 outline-1;
}

.card-button {
  @apply justify-center font-semibold bg-white cursor-pointer outline-rose-300 hover:text-primary hover:outline-primary;
}

.card-button-active {
  @apply justify-between text-white outline-primary bg-primary;
}

.btn-quantity svg {
  @apply p-1 text-white border border-white rounded-full cursor-pointer size-4 hover:text-primary hover:bg-white;
}

.card-description {
  @apply flex flex-col gap-1;
}

.modal {
  @apply fixed inset-0 grid content-end justify-center bg-black bg-opacity-50 sm:place-content-center;
}

.modal-content {
  @apply w-screen bg-white p-8 rounded-t-lg sm:rounded-lg sm:w-[36rem];
}
