body {
  font-family: sans-serif;
}
header {
  background-color: antiquewhite;
  text-align: center;
  padding: 10px;
  margin: 0%;
}

.aboutme {
  background-color: aqua;
  padding: 10px;
  margin: 10px;
  border: 1px solid #111;
}

.projects {
  background-color: beige;
  margin: 10px;
  padding: 10px;
  border: 1px solid #111;
}
.p1 {
  background-color: beige;
  margin: 10px;
  padding: 10px;
  border: 1px solid #111;
}

.p2 {
  background-color: beige;
  margin: 10px;
  padding: 10px;
  border: 1px solid #111;
}

.p3 {
  background-color: beige;
  margin: 10px;
  padding: 10px;
  border: 1px solid #111;
}

.contacts {
  background-color: rgb(178, 178, 172);
  margin: 10px;
  padding: 10px;
  border: 1px solid #111;
}
