.container {
  background-color: red;
}

.sectionOne {
  background-color: blue;
}

.sectionTwo {
  background-color: aqua;
}

.boxOne {
  background-color: aquamarine;
  padding: 10px;
}

.boxTwo {
  background-color: beige;
}

.firstHeading {
  background-color: yellow;
  padding: 10px;
}

.paragraphOne {
  background-color: bisque;
}

.secondHeading {
  background-color: tomato;
}

.paragraphTwo {
  background-color: chartreuse;
}
