/* src/styles.css */

/* Reset some default styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
}

/* Header Styling */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #377368;
}

header p {
  font-style: italic;
}

/* Section Styling */
.section-box {
  padding: 20px;
  margin: 20px;
  border: 1px solid #998b8b;
  background: #fff;
}

/* About Me Section */
#about-me {
  background-color: #e2e2e2;
  color: red;
}

/* Projects Section */
#projects {
  background-color: #dac6c6;
}

/* Project Boxes */
.project {
  border: 1px solid #6954df;
  padding: 10px;
  margin-bottom: 10px;
}

/* Contact Section */
#contact {
  background: #e2e2e2;
  color: #000;
}
