body {
  font-family: sans-serif;
}

.header {
  background-color: whitesmoke;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.about-me {
  background-color: aqua;
  margin-left: 0;
  margin-top: 10px;
  padding: 10px;
}
.project-section {
  margin: 0;
  margin-top: 10px;
}
.project {
  background-color: beige;
  padding: 10px;
}

.project1 {
  border: solid black;
  padding: 10px;
  margin: 10px;
}

.contact-section {
  margin-top: 10px;
  padding: 10px;
  background-color: burlywood;
  border: solid black;
}
