body {
  font-family: sans-serif;
}

.header {
  text-align: center;
  border-bottom: 1px solid;
  padding: 10px;
  margin: 10px;
  background-color: bisque;
}

.name {
  color: cadetblue;
  font-size: 45px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro {
  background-color: aquamarine;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border-color: gray;
  border: 1px solid;
}

.project {
  background-color: pink;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border-color: gray;
  border: 1px solid;
}

.contact {
  background-color: lightblue;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border-color: gray;
  border: 1px solid;
}

.projectName {
  border: 1px solid;
  padding-left: 5px;
  margin: 10px;
}
