body {
  margin: 0;
  margin-top: -22px;
}
.heading {
  text-align: center;
  background-color: rgb(216, 214, 214);
  padding: 10px;
  border-bottom: 1px solid;
}

.about {
  background-color: rgba(178, 225, 233, 0.972);
  margin: 14px;
  padding: 14px;
  border: 1px solid;
}

.projects {
  background-color: rgba(182, 232, 184, 0.972);
  margin: 14px;
  padding: 14px;
  border: 1px solid;
}

.project1 {
  background-color: rgba(182, 232, 184, 0.972);
  margin: 14px;
  padding: 14px;
  border: 1px solid;
}
.project2 {
  background-color: rgba(182, 232, 184, 0.972);
  margin: 14px;
  padding: 14px;
  border: 1px solid;
}
.project3 {
  background-color: rgba(182, 232, 184, 0.972);
  margin: 14px;
  padding: 14px;
  border: 1px solid;
}

.contact {
  background-color: rgba(220, 162, 215, 0.972);
  margin: 14px;
  padding: 14px;
  border: 1px solid;
}
